<a href="https://colab.research.google.com/github/nitinlodhi019/Machine-Learning/blob/main/Python/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from collections import Counter

mylist = [1,2,4,2,6,5,8,9,3,4,4]

print(Counter(mylist))
print(Counter(mylist).items())
print(Counter(mylist).keys())
print(Counter(mylist).values())

Counter({4: 3, 2: 2, 1: 1, 6: 1, 5: 1, 8: 1, 9: 1, 3: 1})
dict_items([(1, 1), (2, 2), (4, 3), (6, 1), (5, 1), (8, 1), (9, 1), (3, 1)])
dict_keys([1, 2, 4, 6, 5, 8, 9, 3])
dict_values([1, 2, 3, 1, 1, 1, 1, 1])

In [ ]:

def counter(val, mylist):
    if val in mylist:
        mylist.remove(val)
        return mylist
    else:
        return mylist

if __name__ == '__main__':
    for i in range(5):
        mylist = [1,2,4,2,6,5,8,9,3,4,4]
        val = int(input("Enter a number: "))
        result = counter(val, mylist)
        print(result)

Enter a number: 2
[1, 4, 2, 6, 5, 8, 9, 3, 4, 4]
Enter a number: 2
[1, 4, 2, 6, 5, 8, 9, 3, 4, 4]
Enter a number: 4
[1, 2, 2, 6, 5, 8, 9, 3, 4, 4]

KeyboardInterrupt: Interrupted by user

# Input

## Albhabets

In [ ]:
# Capital Letter
def print_alphabets(n):
    if n > 26:
        print("There are only 26 alphabets in the English language.")
        return
    for i in range(n):
        print(chr(65 + i), end=" ")

num_of_alphabets = int(input("How many alphabets do you want to print? "))
print_alphabets(num_of_alphabets)

How many alphabets do you want to print? 3
A B C

In [ ]:
# Small Letter
def print_alphabets(n):
    if n > 26:
        print("There are only 26 alphabets in the English language.")
        return
    for i in range(n):
        print(chr(97 + i), end=" ")

num_of_alphabets = int(input("How many alphabets do you want to print? "))
print_alphabets(num_of_alphabets)

How many alphabets do you want to print? 4
a b c d

# String

### Python_String

In [ ]:
a= '''Myself nitin rajpoot,
i am belong to lucknow,
and i am pursuing Btech from BBD.'''
print(a)

Myself nitin rajpoot,
i am belong to lucknow,
and i am pursuing Btech from BBD.

In [ ]:
print(a[21])
print(a[29])
print(a[30])
print(a[31])
print(a[32])

l
o
n
g

In [ ]:
# looping
for i in 'Nitin':
  print(i)

N
i
t
i
n

In [ ]:
# check by in
a="nitin rajpoot"
print("free" in a)

False

In [ ]:
if 'raj' in a:
  print("yes")

yes

###**Format_String**

In [ ]:
# f string
age=19
a=f"my name is nitin, i am {age}"
print(a)

my name is nitin, i am 19

In [ ]:
height=170.2435446
a=f'my height is {height:.2f}'
print(a)

my height is 170.24

##String_Method

In [ ]:
a="My name is Nitin Rajpoot"
print(a.capitalize())

My name is nitin rajpoot

In [ ]:
print(a.casefold())

my name is nitin rajpoot

In [ ]:
name='Nitin'
print(name.center(30,'*'))

************Nitin*************

In [ ]:
print(a.count('i'))

3

In [ ]:
print(a.find('Nitin'))

11

In [ ]:
print(a.title())

My Name Is Nitin Rajpoot

In [ ]:
print(a.isupper())

False

In [ ]:
print(a.isalpha())

False

In [ ]:
#Join
name='Nitin'
a='*'.join(name)
print(a)

N*i*t*i*n

In [ ]:
tuple=("h","y","t")
a='**'
x=a.join(tuple)
print(x)

h**y**t

In [ ]:
#Split
name="My name, is Nitin"
a=name.split()
print(a)

['My', 'name,', 'is', 'Nitin']

In [ ]:
#Split
name="My name, is Nitin"
a=name.split(',')
print(a)

['My name', ' is Nitin']

In [ ]:
name='  nitin    rajpoot '
print(name.strip())

nitin    rajpoot

**You are given a string. Split the string on a " " (space) delimiter and join using a - hyphen.**

In [ ]:
def split_and_join(line):
    # write your code here
    split_line=list(line.split(" "))
    join_line="-".join(split_line)
    return join_line


if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

nitin
nitin

** Your task is to find out if the string  contains: alphanumeric characters, alphabetical characters, digits, lowercase and uppercase characters.**

In [ ]:
class StringUtils:
    @staticmethod
    def lower(a):
        for x in a:
            if x.islower():
                return True
        return False

    @staticmethod
    def upper(a):
        for x in a:
            if x.isupper():
                return True
        return False

    @staticmethod
    def alphanumeric(a):
        for x in a:
            if x.isalnum():
                return True
        return False

    @staticmethod
    def alphabetical(a):
        for x in a:
            if x.isalpha():
                return True
        return False

    @staticmethod
    def digit(a):
        for x in a:
            if x.isdigit():
                return True
        return False

if __name__ == '__main__':
    a = input("Enter a string: ")
    print(StringUtils.alphanumeric(a))
    print(StringUtils.alphabetical(a))
    print(StringUtils.digit(a))
    print(StringUtils.lower(a))
    print(StringUtils.upper(a))

Enter a string: nitin
True
True
False
True
False

**Use of ljust,rjust,center for arrangement**

In [ ]:
#Replace all ______ with rjust, ljust or center.

thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

5
    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

**Wrap the string into a given paragraph**

In [ ]:
import textwrap

def wrap(string, max_width):
  wrap_string=textwrap.TextWrapper(width=max_width)
  word_list=wrap_string.wrap(text=string) #string is variable name
  return '\n'.join(word_list)

if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)

nitin
3
nit
in

## Capitalized

In [ ]:
def solve(s):
  for x in s.split():
    s=s.replace(x,x.capitalize())
  return s

if __name__ == '__main__':
    s = input()
    result = solve(s)
    print(result + '\n')

ntin
Ntin

##Count Substring

In [ ]:
ddef count_substring(string, sub_string):

  count=0
  for x in range(len(string)):
    if string[x:].startswith(sub_string):
      count +=1
  return count

if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()

    count = count_substring(string, sub_string)
    print(count)

raosod
sdsf
0

# Operators

### Bitwise_Operator

In [ ]:
# & -> return 1 if both are 1
print(110 & 10)

10

In [ ]:
a=110
b=10
c=(a & b)
print(int(str(c),2))

2

In [ ]:
n = 4
binary = format(n, 'b')
print(binary)  # Output: '100'
binary = '100'
decimal = int(binary, 2)
print(decimal)  # Output: 4

100
4

In [ ]:
# decimal to binary
num=6
binary=format(num,'b')
print(binary)

110

In [ ]:
num=110
dec=int(str(num),2)
print(dec)

6

In [ ]:
# OR(|) return 1 when one of 1
a=110
b=1
print(a|b)

111

In [ ]:
#XOR(^) when both are same its return 0
a=110
b=11
print(a^b)

101

In [ ]:
#Not(~) invert 100001
a=10
print(~a)

-11

# Class/Methods

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def __str__(self):
    return f"my name is {self.name}"

In [ ]:
a=Person('nitin',19)

In [ ]:
print(str(a))

my name is nitin

# Inheritance

In [ ]:
class Person:
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname

class Student(Person):
  def __init__(self,fname,lname,age):
    super().__init__(fname,lname)
    self.age=age
  def data(self):
    print(f"My name is {self.fname} {self.lname} and I am {self.age} year old")
  def _str__(self):
     return f"My name is {self.fname} {self.lname}" #str return not

a=Student("Nitin","Kumar",19)

In [ ]:
a.data()

My name is Nitin Kumar and I am 19 year old

In [ ]:
print(str(a))

<__main__.Student object at 0x7da9b06d1e40>

# Iterator

In [ ]:
name= "Nitin"
a = iter(name)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

N
i
t
i
n

In [ ]:
mytuple=("a","b","c","d")
a=iter(mytuple)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

a
b
c
d

In [ ]:
class Mynumbers:
  def __iter__(self):
    self.a=1
    return self
  def __next__(self):
    x=self.a
    self.a +=1
    return x

myclass = Mynumbers()
a=iter(myclass)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4

In [ ]:
class Numbers:
  def __iter__(self):
    self.a=1
    return self
  def __next__(self):
    if self.a <= 20:
      x=self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = Numbers()
a= iter(myclass)

for x in a:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Polymorphism
**Multiple classes with same method name**

In [ ]:
class Car:
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model
  def move(self):
    print("drive!")

class Boat:
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model
  def move(self):
    print("sail!")

class Plane:
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model
  def move(self):
    print("fly!")

car1=Car("Ford", "Mustang")
boat1=Boat("Ibiza", "Touring 20")
plane1=Plane("Boeing", "747")

for x in (car1,boat1,plane1):
  x.move()

drive!
sail!
fly!

#Project

##Guessing a number

In [ ]:
import random
import math

a=int(input('Enter lower range:-'))
b=int(input('Enter upper range:-'))
x=random.randint(a,b)

print(f'you have only {round(math.log(b-a+1,2))} chances to guess a number')

count=0

while count < math.log(b-a+1,2):
  count += 1

  guess=int(input('Guess a number:-'))

  if guess == x:
    print("Congratulations!! you did it in ",count,'try')
    break
  elif guess < x:
    print('Oops!! your guess was too low')
  else:
    print('Oops!! your guess was too high')

if count > math.log(b-a+1,2):
  print(f'The number is {x}')
  print('You have lost all your chances Better luck next time!!')

Enter lower range:-3
Enter upper range:-7
you have only 2 chances to guess a number

KeyboardInterrupt: Interrupted by user

#Map func

In [ ]:
list_of_input = list(map(str.lower, input().split()))
print(list_of_input)

#List

##declare list

In [ ]:
var=[]
print(type(var))

##append

In [ ]:
var.append(1)
print(var)

In [ ]:
#create a function for append list
def app(a):
  var.append(a)
  return var

In [ ]:
app(10)

In [ ]:
app(20)

##insert

In [ ]:
#create another function to insert values
def ins(a,b):
  var.insert(a,b) #insert(index,value)
  return var

In [ ]:
ins(1,20)

In [ ]:
ins(4,44)

##Remove

In [ ]:
#remove first occurence of elements
list=[1,2,3,4,5,5]
list.remove(1)
print(list)

In [ ]:
list.remove(5)
print(list)

In [ ]:
list.append(4)
list

In [ ]:
list.remove(4)
list

##pop

In [ ]:
def pop(a):
  var.pop(a) #pop(index)
  return var

In [ ]:
var.pop() #by default lasst element

In [ ]:
var

In [ ]:
pop(1)

**Iterate through each command in order and perform the corresponding operation on your list.**

In [ ]:
N=int(input())
lis=[]
for x in range(0,N):
  command=input().split()

  if command[0]=='insert' :
    lis.insert(int(command[1]),int(command[2]))
  elif command[0]=='print':
    print(lis)
  elif command[0]=='remove':
    lis.remove(int(command[1]))
  elif command[0]=='append':
    lis.append(int(command[1]))
  elif command[0]=='sort':
    lis.sort()
  elif command[0]=='pop':
    lis.pop()
  elif command[0]=='reverse':
    lis.reverse()

**Store them in a list and find the score of the runner-up.**

In [ ]:
def find_runnerup(arr):
    first = second = float('-inf')
    for x in arr:
        if x > first:
            second = first
            first = x
        elif x > second and x != first:
            second = x
    return second

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    print(find_runnerup(arr))

**Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.**

In [ ]:
a=[]
b=[]
def print_name(second):
  for x in range(len(a)):
    if a[x][1]==second:
      b.append(a[x][0])
  b.sort()
  for x in b:
    print(x)

def second_lowest(a):
  first = second = float('inf')
  for x in range(len(a)):
    if a[x][1] < first:
      second = first
      first = a[x][1]
    elif a[x][1] < second and a[x][1] != first:
      second = a[x][1]
  return second

if __name__ == '__main__':
  for x in range(int(input())):
      name = input('enter name:')
      score = float(input('enter score:'))

      a.append([name,score])

  value=second_lowest(a)
  print_name(value)

**This tool computes the cartesian product of input iterables.**

In [ ]:
from itertools import product

def custom_product(a, b):
    cartesian_product = list(product(a, b))
    return cartesian_product

if __name__ == '__main__':
   a=list(map(int,input().split()))
   b=list(map(int,input().split()))
   result= custom_product(a,b)

   for x in result:
      print(x, end=' ')

In [ ]:
def custom_product(a, b):
    cartesian_product=[(x,y) for x in a for y in b]
    return cartesian_product

if __name__ == '__main__':
   a=list(map(int,input().split()))
   b=list(map(int,input().split()))
   result= custom_product(a,b)

   for x in result:
      print(x,end=' ')

# Dictionary

**The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.**

In [ ]:
def avrg_marks(marks):
  sum=0
  for x in marks:
    sum=sum+x
  avg_of_marks=sum/len(marks)
  print(f'{avg_of_marks:.2f}')

if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    marks=student_marks[query_name]
    avrg_marks(marks)

# Set

**Use add fun() for find distinct values in a set**

In [ ]:
def distinct_value(details):
  m=set(details)
  return len(m)


if '__main__'==__name__:
  n=int(input())
  details=[]
  for x in range(n):
    a=input()
    details.append(a)
  print(distinct_value(details))

**compute the average of all the numbers with distinct values in the list.**

In [ ]:
def average(array):
  arr_set=set(array)
  arr_list=list(arr_set)

  return sum(arr_list)/len(arr_list)


if '__main__' == __name__ :
  n = int(input())
  arr = list(map(int,input().split()))
  result = average(arr)
  print(result)

# Tuple

## Hash Value of Tuple

In [ ]:
def hash_value(t):
  return hash(t)

if '__main__' == __name__:
  n=int(input())
  list=map(int,input().split())
  t=tuple(list)
  print(hash_value(t))

In [ ]:
N, M = list(map(int,input().split()))
a=1
for i in range(1,int(N/2)+1):
  print(('.|.'*a).center(M,'-'))
  a=a+2

print('WELCOME'.center(M,'-'))

for i in range(int(N/2),0,-1):
  a=a-2
  print(('.|.'*a).center(M,'-'))